<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>
        table {
            width: 1200px;
            margin: 100px auto;
            border: 2px gray solid;
            border-collapse: collapse;
            text-align: center;
        }

        td, th {
            border: 1px solid #333;
        }

        thead tr {
            background-color: #ccc;
        }

        #links {
            position: fixed;
            top: 10px;
            right: 10px;
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
    </style>
</head>
<body>
    <div id="links">
		<a href="#">Link 1</a>
		<a href="#">Link 2</a>
	</div>
    <table>
        <thead>
        <tr>
            <th>room_id</th>
            <th>room_name</th>
            <th>room_path</th>
            <th>webrtc link</th>
            <th>flv link</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>
<script src="/assets/js/show_rooms.js" type="text/javascript" charset="utf-8">
</script>
</body>
</html>

