<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>
        table {
            width: 500px;
            margin: 100px auto;
            border: 2px gray solid;
            border-collapse: collapse;
            text-align: center;
        }

        td, th {
            border: 1px solid #333;
        }

        thead tr {
            height: 40px;
            background-color: #ccc;
        }
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>room_id</th>
        <th>room_name</th>
        <th>room_path</th>
        <th>link</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</body>
<script src="/assets/js/show_rooms.js" type="text/javascript" charset="utf-8">
</script>
</body>
</html>

