<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <script src="/assets/js/login.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<center>
    <form>
        <table>
            <tr>
                <td>Username</td>
                <td><input type="text" class="form-control" id="Username" placeholder="Username"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" class="form-control" id="Password" placeholder="Password"></td>
            </tr>
        <table>
        <div>
            <button type="button" onclick="return Login()">
                <span>login</span>
            </button>
            <button type="button" onclick='window.location.href="/register"'>
                <span>register</span>
            </button>
        </div>
    </form>
</center>
</body>
</html>