<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <style>
        form {
          width: 300px;
          margin: 0 auto;
        }

        input[type=text], input[type=password] {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          box-sizing: border-box;
          border: 2px solid #ccc;
          border-radius: 4px;
        }

        input[type=submit] {
          background-color: #4CAF50;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }

        input[type=submit]:hover {
          background-color: #45a049;
        }

        .my-button {
          width: 130px;
          height: 40px;
          padding: 10px 30px;
          font-size: 16px;
        }
    </style>
</head>
<body>
    <form id="login-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <center>
            <button type="submit" class="my-button">login</button>
            <button type="button" class="my-button" onclick='window.location.href="/register"'>register</button>
        </center>
    </form>
</body>
<script src="/assets/js/login.js" type="text/javascript" charset="utf-8"></script>
</html>