<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="/assets/js/third_party/flv.min.js"></script>
    <title>rtmp live</title>
    <style>
        body,center{
            padding:0;
            margin:0;
        }
        .v-container{
            width:1280px;
            height:720px;
            border:solid 1px red;
        }
        video{
            width:100%;
            height:100%;
        }
    </style>
</head>
<body>
<div class="v-container">
    <video id="flv_player" muted autoplay="autoplay" preload="auto" controls="controls">
    </video>
</div>
</body>
<script type="text/javascript" charset="utf-8">
    if (flvjs.isSupported()) {
        var videoElement = document.getElementById('flv_player')
        var flvPlayer = flvjs.createPlayer({
            type: 'flv',
            url: {{ .rtmp_url }}
        })
        flvPlayer.attachMediaElement(videoElement)
        flvPlayer.load()
        flvPlayer.play()
    }
</script>
</html>