<!DOCTYPE html>
<html>
<head>
    <title>flv live</title>
    <meta charset="UTF-8">
    <script src="/assets/js/third_party/flv.min.js"></script>
    <style>
        body,center{
            padding:0;
            margin:0;
        }
        .v-container{
            width:1280px;
            height:720px;
            border:solid 1px red;
        }
        video{
            width:100%;
            height:100%;
        }
    </style>
</head>
<body>
    <center>
        <div class="v-container">
            <video id="flv_player" autoplay="autoplay" preload="auto" controls="controls"></video>
        </div>
    </center>
</body>
<script type="text/javascript" charset="utf-8">
    if (flvjs.isSupported()) {
        var videoElement = document.getElementById('flv_player')
        var flvPlayer = flvjs.createPlayer({
            type: 'flv',
            url: {{ .flv_url }}
        })
        flvPlayer.attachMediaElement(videoElement)
        flvPlayer.load()
        flvPlayer.play()
    }
</script>
</html>