<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>register</title>
    <script src="/assets/js/register.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<center>
    <form>
        <table>
            <tr>
                <td>Username:</td>
                <td><input type="text" class="form-control" id="Username" placeholder="Username"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="text" class="form-control" id="Password" placeholder="Password"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" class="form-control" id="Email" placeholder="Email"></td>
            </tr>
            <tr>
                <td>Telephone:</td>
                <td><input type="text" class="form-control" id="Telephone" placeholder="Telephone"></td>
            </tr>
        </table>
        <div>
            <button type="button" onclick="return Register()">
                <span>register</span>
            </button>
            <button type="button" onclick='window.location.href="/login"'>
                <span>exit</span>
            </button>
        </div>
    </form>
</center>
</body>
</html>