<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>webrtc live</title>
    <div id="username" data-value={{ .username }}></div>
    <script src="/assets/js/common_links.js"></script>
    <script src="/assets/js/third_party/webrtc.min.js"></script>
    <link rel="stylesheet" href="/assets/css/video-play-pages.css">
</head>
<body>
    <br><br><br><br>
    <center>
        <div class="v-container">
            <video id="webrtc_player" autoplay="autoplay" preload="auto" controls="controls"></video>
        </div>
    </center>
</body>
<script type="text/javascript">
    var video = document.getElementById('webrtc_player')
    var url = {{ .webrtc_url }}
    var option = {
        video: video,
        autoplay: true
    }
    var player = new JSWebrtc.Player(url, option);
</script>
</html>
