<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>flv live</title>
    <div id="username" data-value={{ .username }}></div>
    <script src="/assets/js/common_links.js"></script>
    <script src="/assets/js/third_party/flv.min.js"></script>
    <link rel="stylesheet" href="/assets/css/video-play-pages.css">
</head>
<body>
    <br><br>
    <center>
        <div class="v-container">
            <video id="flv_player" autoplay preload="auto" controls></video>
        </div>
    </center>
</body>
<script type="text/javascript" charset="utf-8">
    if (flvjs.isSupported()) {
        var videoElement = document.getElementById('flv_player')
        var flvPlayer = flvjs.createPlayer({
            type: 'flv',
            url: {{ .flv_url }},
            isLive: true
        })
        flvPlayer.attachMediaElement(videoElement)
        flvPlayer.load()
        flvPlayer.play()
    }
</script>
</html>